<!DOCTYPE html>
<!-- <html manifest="app.manifest"> -->
<html>
<head>
  <base href="<%= htmlWebpackPlugin.options.base %>">
  <%= require("./commons/head.ejs")() %>
</head>
<body>
  <div id='root'></div>
</body>
</html>
