html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue,Helvetica,PingFangTC-Regular,PingFangSC-Regular,Microsoft JhengHei,'微軟正黑體',Arial,sans-serif;
}

.scene {
  &__title {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(57, 86, 105, 0.38);
    line-height: 50px;
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.3rem;
    z-index: 10;
  }

  &__msg {
    font-size: 1rem;
    line-height: 30px;
  }

  &__button {
    font-size: 0.8rem;
    margin-left: 10px;
    margin-top: 10px;
    color: rgba(0,0,0,1);
    vertical-align: top;
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
    background-color: beige;
    outline: none;
    cursor: pointer;
  }

  &__bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(/images/image-file.png); /* 外部載入 */
    background-size: cover;
    background-position: center center;
    filter:blur(30px) brightness(110%) sepia(65%);
  }

  @keyframes bg-flash {
      0%   {filter:brightness(100%) sepia(50%)}
      25%  {filter:brightness(75%) sepia(40%)}
      50%  {filter:brightness(95%) sepia(60%)}
      75%  {filter:brightness(80%) sepia(55%)}
      100% {filter:brightness(100%) sepia(50%)}
  }

  &__icon {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-size: cover;
    background-image: url(../images/file.png); /* 內嵌 */
    margin: auto;
    border: solid 30px rgba(0, 97, 189, 0.34);
    animation: bg-flash 2s infinite;
    cursor: pointer;
  }

  &__circle {
    width: 220px;
    height: 220px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -110px;
    margin-left: -110px;

    &--black {
      background-color: rgba(150, 137, 94, 0.3);
    }
  }

  .crumbs {
    color: rgba(255,255,255,0.6);

    ol {
      padding: 0;
      margin: 0;
    }

    i {
      vertical-align: middle;
    }

    &__item {
      display: inline-block;
      font-size: 14px;
      line-height: 14px;
    }

    &__link {
      cursor: pointer;
      display: inline-block;

      &--strong {
        font-weight: 500;
        color: rgba(255,255,255,1);
      }
    }

    .crumbs__arrow {
      font-size: 14px;
      line-height: 14px;
      margin: 0 3px;
    }
  }

}




// ANIMATIONS
@-webkit-keyframes progress-bar-animate {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

@keyframes progress-bar-animate {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

.progress {
  overflow: hidden;
  height: 8px;
  transition: opacity 0.2s;
  transform: translate3d(0,0,0);
  opacity: 0.8;

  &--fade-out {
    opacity: 0;
  }

  // inner progress bar
  &__bar {
    width: 100%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    background-color: rgba(0, 97, 189, 0.8);
    background-size: 20px 20px;
    background-image: linear-gradient(
      45deg,
      transparent 25%,
      rgba(255,255,255,0.5) 25%,
      rgba(255,255,255,0.5) 50%,
      transparent 50%,
      transparent 75%,
      rgba(255,255,255,0.5) 75%
    );
    animation: progress-bar-animate 0.5s linear infinite;
  }
}
